.NavBar {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    overflow-x: auto;
    box-sizing: border-box;
}
.NavBar a {
    color: #7B7B7B;
    text-decoration: none;
    font-size: 36px;
    margin-right: 16px;
}

.NavBar a:last-of-type {
    margin-right: 0;
}

.NavBar a.active {
    color: #DCDCDC;
}