.Project {

    /* display: flex;
    align-items: flex-end;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat; */
}

.Project + .Project {
    margin-top: 16px;
}

.Project_title {

}

.Project_description {
    font-size: 16px;
}

.Project_description a {
    color: inherit;
}

.Project_thumb {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-top: 16px;
}