.Project {
    display: flex;
}

.Project + .Project {
    margin-top: 16px;
}

.Project_description {
    font-size: 16px;
}

.Project_description a {
    color: inherit;
}

.Project_info {
    flex-grow: 1;
}

.Project_thumb {
    display: block;
}

@media screen and (max-width: 399px) {
    .Project {
        flex-direction: column;
    }
    .Project_thumb {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-top: 16px;
    }
}

@media screen and (min-width: 400px) {
    .Project {
        flex-direction: row;
        height: 200px;
    }

    .Project_description {
        padding-right: 32px;
    }
    .Project_thumb {
        width: 300px !important;

        display: block;
        object-fit: contain;
        object-position: center;
    }
}