body {
  max-width: 800px;
  
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #DCDCDC;
  margin: auto;
  margin-top: 16px;
  overflow-x: hidden;
}
